$color-primario:#4e0563;
$color-secundario:#ff4700;
$color-terciario:white;

$limit:10;
$unit:8px;

@function size($value){
@return $value * $unit;
}



h1, h2{
    color: $color-secundario;
    font-family: fuenteqatar;
    font-size: size(10)
}

p{    
        color: $color-terciario;
}

b{
    color: $color-secundario;
}




.card {
        background-color: $color-secundario;
        margin: 2px;
        
        h5{
        color: black;
        font-family: fuenteqatar;
        text-align: center;
        margin-top: 6px;
        }                                
    }