$color-primario:#4e0563;
$color-secundario:#ff4700;

@import 'variables';

* {
    margin: 0%;
    padding: 0%;
  }
  
  
  body {
    margin: 0;
    background-color: $color-primario;
  }
  

h1{
    color: $color-secundario;
    font-family: fuenteqatar;
    font-size: 90px;
}
 
h2 {
    color: $color-secundario;
    font-family: fuenteqatar;
    font-size: 90px
}

p{    
        color: white;
}

b{
  color: #ff4700;
}

.card {
  background-color: #ff4700;
  margin: 2px;

      #botones {
      color: azure;
      background-color: #4e0563;
      margin-left: 50px;
                      } 
       h5{
        color: black;
        font-family: fuenteqatar;
        text-align: center;
        margin-top: 6px;
       }                                
      }
